.listimage-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
    
    
    .singleimage-container{
        grid-column: span 1;
        height: 10vw;
        width:20vw;
        margin:6vw 0.3vw;
        
        
      
        
    }
    img{
        width: 20vw;
        border-radius: 0.6vw;
    }
   
    h2{
        color: black;
        padding: 10px 20px;
    }
}