.listimage-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 50px;
    margin-left: 220px;
    margin-right: 200px;
    
    
    .singleimage-container{
        grid-column: span 1;
        height: 200px;
        width:400px;
        margin:100px 5px;
        
        
      
        
    }
    img{
        width: 400px;
        border-radius: 10px;
    }
   
    h2{
        color: black;
        padding: 10px 20px;
    }
}