.CommentForm {
    input {
        width: 40vw;
        padding: 0.3vw;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
    }

    button {
        padding: 3px 15px;
        margin-bottom: 0.7vw;
        border-radius: 10px;
        border: none;
    }

    li {
        width: 90%;
        padding: 0.9vw;
        list-style: none;
        display: flex;
        justify-content: space-between;

        p {
            font-size: 1rem;
            font-weight: 700;
        }

        span {
            font-weight: normal;
        }

    }

}

input.submit-button {
    background-color: #FE0000;
    color: #fff;
    width: 15vw;
}