.navbar-container{
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    img{
        height: 110px;
    }
    h1{
        margin-top: 50px;
        font-size: 30px;
        color: black;
       
    }
}