.navbar-container{
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        height: 110px;
    }
    h1{
        // margin-top: 50px;
        font-size: 30px;
        color: black;
    }
    .searchBar {
        margin-bottom: 30px;
    }
}