.Footer {
    line-height: 2rem;
    margin-bottom: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;

    hr {
        border: 2px solid #F2F2F2;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    h3 {
        color: #FE0000;
        font-weight: 700;
        font-size: 1.5rem;
    }
}